Checks: |
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters
  -bugprone-exception-escape,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-avoid-endl,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-inconsistent-declaration-parameter-name,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
