name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  macos-clang-check:
    strategy:
      matrix:
        build-type: [Debug, Release]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake . -B build -DCMAKE_BUILD_TYPE=${{matrix.build-type}}

      - name: Build
        run: cmake --build build --parallel

  windows-msvc-check:
    strategy:
      matrix:
        build-type: [Debug, Release]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ninja
        run: choco install ninja

      - uses: ilammy/msvc-dev-cmd@v1

      - name: Configure
        run: cmake . -B build -G Ninja -DCMAKE_BUILD_TYPE=${{matrix.build-type}}

      - name: Build
        run: cmake --build build --parallel

  ubuntu-gcc-check:
    strategy:
      matrix:
        build-type: [Debug, Release]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download GCC
        run: sudo apt install -y gcc-11 g++-11

      - name: Configure CMake (GCC)
        run: >
          cmake . -B build
          -DCMAKE_BUILD_TYPE=${{matrix.build-type}}
          -DCMAKE_C_COMPILER=gcc-11
          -DCMAKE_CXX_COMPILER=g++-11

      - name: Build
        run: cmake --build build --parallel

  ubuntu-clang-check:
    strategy:
      matrix:
        build-type: [Debug, Release]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download LLVM
        run: |
          sudo apt install -y lsb-release wget software-properties-common gnupg
          curl -sSf https://apt.llvm.org/llvm.sh | sudo bash -s -- 21 all

      - name: Configure CMake (Clang)
        run: >
          cmake . -B build
          -DCMAKE_BUILD_TYPE=${{matrix.build-type}}
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
          -DCMAKE_C_COMPILER=clang-21
          -DCMAKE_CXX_COMPILER=clang++-21

      - name: Build
        run: cmake --build build --parallel

      - name: Check clang-format
        if: ${{ matrix.build-type == 'Debug' }}
        run: find src -name '*.cpp' -o -name '*.h' -o -name '*.hpp'  | xargs clang-format-21 --dry-run --Werror

      - name: Check clang-tidy
        if: ${{ matrix.build-type == 'Debug' }}
        run: run-clang-tidy-21 -p build -warnings-as-errors="*" "$(pwd)/src"
